*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.btn:active,
.btn:link,
.btn {
  padding: 1.5rem 5.2rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 8px;
  background-color: #43B3E0;
  background-image: url("../img/bg.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  transition: all .2s;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
  text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5); }
  .btn:active:hover,
  .btn:link:hover,
  .btn:hover {
    background-color: #43bff0; }
  @media only screen and (max-width: 21.875em) {
    .btn:active,
    .btn:link,
    .btn {
      padding: 1.5rem 4rem;
      font-size: 1.3rem; } }

.navebar {
  background-color: #282828;
  z-index: 1000;
  display: inline-block;
  position: sticky;
  top: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .navebar__top {
    list-style: none;
    display: flex; }
  .navebar__link {
    text-decoration: none;
    margin-right: .3rem;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    transition: all .2s; }
    .navebar__link:hover {
      background-color: #383838; }

.header-1 {
  font-size: 3rem;
  font-weight: 300;
  color: #3e3e3e; }
  .header-1 strong {
    font-weight: 700; }

.header-2, .header-3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #3e3e3e; }

.header-3 {
  margin: 2rem 0 1rem; }

.custom-paragraph {
  font-size: 1.7rem;
  color: #888;
  margin: .5rem 1rem 2rem; }

.header {
  padding: 2rem;
  border-bottom: 6px solid #eeeded;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 62.5em) {
    .header {
      flex-direction: row; } }
  .header__img {
    display: inline-block;
    border-radius: 50%;
    width: 25rem; }
    @media only screen and (min-width: 62.5em) {
      .header__img {
        width: 30rem;
        margin-right: 5rem; } }
  .header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 300;
    color: #888;
    text-align: center; }
    @media only screen and (min-width: 62.5em) {
      .header__text {
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 38%; } }
    .header__text p {
      font-size: 1.3rem;
      margin: 1.5rem 0; }
      @media only screen and (max-width: 37.5em) {
        .header__text p {
          font-size: 1.4rem; } }
      @media only screen and (min-width: 62.5em) {
        .header__text p {
          font-size: 2rem;
          margin: 2rem 0 4rem;
          min-width: none;
          text-align: start; } }
      .header__text p strong, .header__text p a {
        color: #282828;
        transition: all .2s; }
      .header__text p a {
        color: currentColor; }
      .header__text p a:hover {
        color: #43B3E0; }
    .header__text .btn {
      max-width: 30rem; }
      @media only screen and (min-width: 62.5em) {
        .header__text .btn {
          max-width: none;
          padding: 1.5rem 7rem; } }

.grid {
  background-color: #f3f3f3;
  background-image: url("../img/bg.png"), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  text-align: center; }
  .grid .work,
  .grid .portfolio,
  .grid .footer {
    padding: 2rem; }
  .grid .work {
    border-bottom: 6px solid #eeeded; }
    .grid .work__footer {
      padding: 2rem; }
      @media only screen and (max-width: 21.875em) {
        .grid .work__footer {
          padding: 0; } }
      @media only screen and (min-width: 21.875em) {
        .grid .work__footer .btn {
          font-size: 1.3rem;
          padding: 1.5rem 3rem; } }
    .grid .work .work-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem; }
      .grid .work .work-cards__item {
        display: flex;
        max-height: fit-content;
        max-width: 35rem;
        flex-direction: column;
        padding: 2rem 0;
        align-items: center;
        background-color: #fff;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1); }
      .grid .work .work-cards i {
        color: #ea8a95; }
      .grid .work .work-cards p {
        margin-bottom: 2rem;
        max-width: 80%;
        font-size: 1.3rem;
        color: #888; }
  .grid .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .grid .portfolio__gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem; }
      @media only screen and (min-width: 62.5em) {
        .grid .portfolio__gallery {
          max-width: 120rem;
          gap: 5rem; } }
    .grid .portfolio__item {
      display: flex;
      max-height: fit-content;
      max-width: 35rem;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1); }
      .grid .portfolio__item h3 {
        margin: 0; }
      .grid .portfolio__item p {
        font-size: 1.3rem;
        color: #888; }
    .grid .portfolio__img {
      overflow: hidden; }
      .grid .portfolio__img img {
        width: 30rem;
        display: inline-block;
        transition: all 0.3s;
        transform: scale(1.1); }
        .grid .portfolio__img img:hover {
          cursor: pointer;
          transform: scale(1.2) rotate(-5deg); }
    .grid .portfolio__text {
      padding: 2rem; }
      .grid .portfolio__text .portfolio-card-h3 {
        text-decoration: none;
        transition: all 0.2s; }
        .grid .portfolio__text .portfolio-card-h3:hover {
          color: #43B3E0; }
    .grid .portfolio__footer {
      padding: 2rem; }
      .grid .portfolio__footer__btn {
        font-size: 1.4rem;
        padding: 1.5rem 5rem; }
  .grid .footer {
    background-color: #383838;
    color: #fff; }
    .grid .footer__text .header-2, .grid .footer__text .header-3 {
      color: #fff; }
    .grid .footer__form {
      border-bottom: 2px solid #444;
      padding-bottom: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .grid .footer__form form {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1/3;
        grid-row: 1/2; }
      .grid .footer__form input,
      .grid .footer__form textarea {
        background-color: #282828;
        color: #888;
        font-family: inherit;
        outline: none;
        border: none;
        padding: 1.5rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        width: 80vw; }
        @media only screen and (min-width: 62.5em) {
          .grid .footer__form input,
          .grid .footer__form textarea {
            max-width: 70rem; } }
      .grid .footer__form textarea {
        resize: vertical;
        min-height: 15rem;
        max-height: 20rem; }
      .grid .footer__form .buttons {
        display: flex;
        width: 60rem;
        column-gap: 2rem;
        flex-direction: column;
        width: 24rem; }
        .grid .footer__form .buttons .btn {
          background-color: #2DAAE4;
          color: #fff;
          width: 100%;
          padding: 1.5rem 5rem;
          cursor: pointer; }
          .grid .footer__form .buttons .btn:hover {
            background-color: #43bff0; }
        .grid .footer__form .buttons .btn-dark {
          background-color: #5a5a5a;
          border: 1px solid #575656; }
          .grid .footer__form .buttons .btn-dark:hover {
            background-color: #4f4f4f; }
        @media only screen and (min-width: 37.5em) {
          .grid .footer__form .buttons {
            flex-direction: row;
            width: 80vw; } }
        @media only screen and (min-width: 62.5em) {
          .grid .footer__form .buttons {
            max-width: 70rem; } }
    .grid .footer__find-me {
      margin: 3rem 0;
      border-bottom: 2px solid #444; }
      .grid .footer__find-me h2 {
        color: #fff;
        font-size: 1.8rem; }
      .grid .footer__find-me .icons {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(5, min-content);
        gap: 1.5rem;
        align-content: center;
        justify-content: center; }
        .grid .footer__find-me .icons i {
          color: #4d4d4d;
          transition: 300ms ease-in-out; }
          .grid .footer__find-me .icons i:hover {
            transform: scale(1.2);
            transform-origin: bottom;
            color: #135de6; }
        .grid .footer__find-me .icons .icon-2:hover {
          color: #DA2713; }
        .grid .footer__find-me .icons .icon-3:hover {
          color: #2DAAE4; }
        .grid .footer__find-me .icons .icon-4:hover {
          color: #FAFAFA; }
    .grid .footer__copyright {
      font-size: 1.2rem;
      color: #878787; }
      .grid .footer__copyright a {
        color: currentColor;
        transition: all .2s; }
        .grid .footer__copyright a:hover {
          color: #43B3E0; }
