*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.btn:active,
.btn:link,
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.5rem 9rem;
  border-radius: 8px;
  background-color: #43B3E0;
  background-image: url("../img/bg.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  transition: all .2s;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
  text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5); }
  .btn:active:hover,
  .btn:link:hover,
  .btn:hover {
    background-color: #43bff0; }

.work {
  font-size: 5rem;
  height: 500rem;
  background-color: #c06d6d;
  background-image: url("../img/bg.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)); }

.navebar {
  background-color: #282828;
  width: 100vw;
  z-index: 1000;
  display: inline-block;
  position: sticky;
  top: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .navebar__top {
    list-style: none;
    display: flex; }
  .navebar__link {
    text-decoration: none;
    margin-right: .3rem;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    transition: all .2s; }
    .navebar__link:hover {
      background-color: #383838; }

.header-1 {
  font-size: 3rem;
  font-weight: 300;
  color: #3e3e3e; }
  .header-1 strong {
    font-weight: 700; }

.header {
  padding: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header__img {
    border-radius: 50%;
    width: 50%;
    margin: 2rem 0; }
  .header__text {
    font-size: 1.6rem;
    font-weight: 300;
    color: #888;
    text-align: center; }
    .header__text p {
      font-size: 1.3rem;
      margin: 2.5rem 0; }
      .header__text p strong, .header__text p a {
        color: #282828;
        transition: all .2s; }
      .header__text p a {
        color: currentColor; }
      .header__text p a:hover {
        color: #43B3E0; }
