$color-dark-1: #282828;
$color-dark-2: #383838;

$secondary-color-1: #43B3E0;
$secondary-color-2: #43bff0;

$bp-smallest: 21.875em;   //350px
$bp-small: 37.5em;        //600px
$bp-medium: 46.875em;     //752px
$bp-large: 62.5em;       //1000px

*,
*::after,
*::before {
    padding: 0; margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;

}

.btn:active,
.btn:link,
.btn {
    padding: 1.5rem 5.2rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: $secondary-color-1;
    background-image: url("../img/bg.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    transition: all .2s;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
    text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);

    &:hover {
        background-color: $secondary-color-2;
    }

    @media only screen and (max-width: $bp-smallest) {
        padding: 1.5rem 4rem;
        font-size: 1.3rem;
    }


}
