.grid {
  background-color: #f3f3f3;
  background-image: url("../img/bg.png"),
    linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  text-align: center;

  .work,
  .portfolio,
  .footer {
    padding: 2rem;

  }

  .work {
    border-bottom: 6px solid rgb(238, 237, 237);



    &__footer {
      padding: 2rem;

      @media only screen and (max-width: $bp-smallest) {
          padding: 0;
        }


      .btn {
        @media only screen and (min-width: $bp-smallest) {
          font-size: 1.3rem;
          padding: 1.5rem 3rem;
        }
      }
    }

    .work-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;

      &__item {
        display: flex;
        max-height: fit-content;
        max-width: 35rem;
        flex-direction: column;
        padding: 2rem 0;
        align-items: center;
        background-color: #fff;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
          0px 2px 3px 0px rgba(0, 0, 0, 0.1);
      }

      i {
        color: #ea8a95;
      }

      p {
        margin-bottom: 2rem;
        max-width: 80%;
        font-size: 1.3rem;
        color: #888;
      }
    }
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      @media only screen and (min-width: $bp-large) {
          max-width: 120rem;
          gap: 5rem;
      }
    }

    &__item {
      display: flex;
      max-height: fit-content;
      max-width: 35rem;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
        0px 2px 3px 0px rgba(0, 0, 0, 0.1);

      h3 {
        margin: 0;
      }

      p {
        font-size: 1.3rem;
        color: #888;
      }
    }

    &__img {
      overflow: hidden;

      img {
        width: 30rem;
        display: inline-block;
        transition: all 0.3s;
        transform: scale(1.1);

        &:hover {
          cursor: pointer;
          transform: scale(1.2) rotate(-5deg);
        }
      }
    }

    &__text {
      padding: 2rem;

      .portfolio-card-h3 {
        text-decoration: none;
        transition: all 0.2s;

        &:hover {
          color: $secondary-color-1;
        }
      }
    }

    &__footer {
      padding: 2rem;

      &__btn {
        font-size: 1.4rem;
        padding: 1.5rem 5rem;
      }
    }
  }

  .footer {
    background-color: $color-dark-2;
    color: #fff;

    &__text {
      .header-2 {
        color: #fff;
      }
    }

    &__form {
      border-bottom: 2px solid #444;
      padding-bottom: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        grid-column: 1/3;
        grid-row: 1/2;
    

      }
      input,
      textarea {
        background-color: $color-dark-1;
        color: #888;
        font-family: inherit;
        outline: none;
        border: none;
        padding: 1.5rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        width: 80vw;

        @media only screen and (min-width: $bp-large) {
          max-width: 70rem;
        }
      }

      textarea {
        resize: vertical;
        min-height: 15rem;
        max-height: 20rem;
      }

      .buttons {
        display: flex;
        width: 60rem;
        column-gap: 2rem;

        flex-direction: column;
        width: 24rem;

        .btn {
        background-color: #2DAAE4;
        color: #fff;
        width: 100%;
        padding: 1.5rem 5rem;
        cursor: pointer;

        &:hover {
          background-color: $secondary-color-2;
        }
      }

        .btn-dark {
          background-color: rgb(90, 90, 90);
          border: 1px solid rgb(87, 86, 86);
          &:hover {
          background-color: #4f4f4f;
        }
        }

        @media only screen and (min-width: $bp-small) {
          flex-direction: row;
          width: 80vw;
        }

        @media only screen and (min-width: $bp-large) {
          max-width: 70rem;
        }


      }

      

    }

    &__find-me {
      margin: 3rem 0;
      border-bottom: 2px solid #444;

      h2 {
        color: #fff;
        font-size: 1.8rem;
      }

      .icons {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(5, min-content);
        gap: 1.5rem;
        align-content: center;
        justify-content: center;


        i {
        color: #4d4d4d;
        transition: 300ms ease-in-out;

          &:hover {
            transform: scale(1.2);
            transform-origin: bottom;
            color: #135de6;
          }
        }

        .icon-2:hover {color: #DA2713}
        .icon-3:hover {color: #2DAAE4}
        .icon-4:hover {color: #FAFAFA}
      }

    }

    &__copyright {
      font-size: 1.2rem;
      color: #878787;

      a {
        color: currentColor;
        transition: all .2s;

        &:hover {
          color: $secondary-color-1;
        }
      }
    }
  }
}
